.card1{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    background-color: lightblue;
}
.card2{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    background-color: lightgreen;
}
.card3{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    background-color: lightpink;
}

.circle{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

}
