*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{

    background-color: aqua;
    height: 100vh;
    width: 80vw;
}
.box2{
    background-color: aquamarine;
    height: 500px;
    width: 500px;
}
.box2 >.box3{
    background-color: pink;
    height: 50%;
    width: 50%;
}
.circle{
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
}
.box4{
    background-color: lightcoral;
    height: 400px;
    padding-left: 40px;
    margin-left: 20px;
    font-size: 2em;
}
.box4 > .box5{
    background-color: lightskyblue;
    height: 50%;
    width: 80%;
    font-size: 2rem;
}