body {
    background-color: #ff6f5e; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

.card {
    background: white;
    width: 180px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}