body {
    background-image: url(./4_selectors/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1{
    border: 2px solid black;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin: 20px;
    height: 150px;
    width: 150px;
}
.card1 h2{
    color: purple;
    font-size: 20px;
}

.card2{
    border: 2px solid green;
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
    margin: 20px;
    height: 150px;
    width: 150px;
}
.card2 h2{
    color: red;
    font-size: 20px;
}

.card3{
    border: 2px solid orange;
    background-color: lightyellow;
    text-align: center;
    padding: 20px;
    margin: 20px;
    height: 150px;
    width: 150px;
}
.card3 h2{
    color: brown;
    font-size: 20px;
}
.card3 .box{
    background-color: pink;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    text-decoration: underline;
}

ul > #li {
    color: green;
    font-weight: bold;
    background-color: lightgray;
}