*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 300px;
    width: 400px;
    background-color: lightblue;
    display: flex;
}

.outer >.box{
    height: 80px;
    width: 400px;
    background-color: lightgreen;
    border: 2px solid black;
}

.card{
    width: 400px;
    background-color: lightpink;
    margin: 50px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 5px solid black;
}

.card > button{
    padding: 10px 20px;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    height: 50px;
    width: 315px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
    text-transform: uppercase;
}

.card > button:hover{
    background-color: orange;
}