body{
    background-color: rgb(170, 242, 218);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inner{
    height: 600px;
    width: 700px;
    border: 4px solid red;
    justify-content: space-evenly;
    /* justify-content: space-evenly; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex-direction: column-reverse;
    flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse; */
}

.inner >.box{
    height: 80px;
    width: 90px;
    border: 3px solid black;
}

.inner >.box:hover{
    color: rgb(255, 0, 132);
    background-color: lightgreen;
}