@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+US+Trad+Guides&display=swap');
p{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
     font-family: "Playwrite US Trad Guides", cursive;
}

h2{
    font-style: italic;
}